/* Begin wordpress css override */
#wpcontent {
    padding-left: 0;
}

#wpfooter {
    display: none;
}

#wpbody-content {
    padding-bottom: 0;
}

#wpbody-content {
    background-color: #F3F3FE;
}

.wp-picker-container .wp-color-result.button {
    margin: 0 .5em 0 0;
}

.wp-color-result-text, .wp-picker-open + .wp-picker-input-wrap  {
    display: none;
}

.wp-picker-holder {
    position: absolute;
    margin-bottom: 3em;
    z-index: 999;
}

.wp-picker-container .wp-color-result.button {
    min-height: 24px;
    padding: 0 0 0 24px;
    border: 1px solid #C8CEED;
}
/* End wordpress css override */

@font-face {
    font-display: swap;
    font-family: Circular;
    font-style: normal;
    font-weight: 400;
    src: local("Circular Regular"), local("Circular-Regular"), url(https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Book.woff2) format("woff2"), url(https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Book.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Circular;
    font-style: normal;
    font-weight: 500;
    src: local("Circular Medium"), local("Circular-Medium"), url(https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Medium.woff2) format("woff2"), url(https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Medium.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Circular;
    font-style: normal;
    font-weight: 700;
    src: local("Circular Bold"), local("Circular-Bold"), url(https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Bold.woff2) format("woff2"), url(https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Bold.woff) format("woff")
}

.jfb-display-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.jfb-display-inline-block {
    display: inline-block;
}

.jfb-space-between {
    justify-content: space-between;
}

.jfb-mr-2 {
    margin-right: 2em;
}

.jfb-mr-1 {
    margin-right: 1em;
}

.jfb-mr-05 {
    margin-right: .5em;
}

.jfb-36-width {
    width: 36px;
}

.jfb-pt-3 {
    padding-top: 3em;
}

.jfb-page-container {
    background-color: #F3F3FE;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    /* (Full Height) - (Toolbar Height) + (Sticky Footer Height) */
    min-height: calc(100vh - 32px + 84px);
    color: #0A1551;
    font-size: 14px;
    line-height: 23px;
    font-family: Circular;
}

.jfb-options-col {
    padding: 0;
    position: relative;
    flex: 60%;
    background-color: #fff;
}

.jfb-preview-col {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 40%;
}

.jfb-main-form-container {
    padding: 2em;
    width: 100%;
    max-width: 800px;
}

.jfb-form-row {
    display: flex;
    margin: 20px 0;
}

.jfb-form-row > .jfb-form-col {
    flex: 45%;
}

.jfb-form-row > .jfb-form-col-2 {
    flex: 55%;
}

.jfb-form-row > .jfb-form-label {
    justify-content: center;
    align-self: center;
}

.jfb-page-title-container {
    display: flex;
    padding: 2em 2em 1em 2em;
    align-items: center;
}

.jfb-page-title {
    color: #0A1551;
    font-size: 26px;
    line-height: 33px;
    margin: 0;
    padding-left: 8px;
}

.jfb-page-title > img {
    line-height: 0;
}

.jfb-form-title {
    font-size: 20px;
    line-height: 26px;
    color: #0A1551;
}

.jfb-divider {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #E3E5F5;
}

.jfb-form-picker {
    display: flex;
    border: 1px solid #C8CEED;
    background-color: #FFF;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}

.jfb-form-picker > img {
    padding: 0 14px;
}

.jfb-form-picker > .jfb-form-picker-arrow {
    padding: 0 14px;
    margin-left: auto;
}

.jfb-form-picker > p {
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jfb-svg-option-container {
    display: inline;
}

.jfb-svg-choose-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.jfb-svg-option {
    display: flex;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: #F9FAFF;
    line-height: 0;
    justify-content: center;
}

.jfb-svg-option > input {
    display: none;
}

.jfb-svg-option-selected .jfb-svg-square {
    border: 2px solid #2E69FF;
}

.jfb-svg-option-selected .jfb-svg-square-badged,
.jfb-svg-option-selected .jfb-ssba-right,
.jfb-svg-option-selected .jfb-ssba-center,
.jfb-svg-option-selected .jfb-ssba-left{
    background: #2E69FF;
}

.jfb-form-size-container > input {
    width: 70px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C8CEED;
    box-sizing: border-box;
    border-radius: 4px;
}

.jfb-form-size-container > input::-webkit-outer-spin-button,
.jfb-form-size-container > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.jfb-form-size-container > input[type=number] {
    -moz-appearance: textfield;
}

.jfb-button-text-field > input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C8CEED;
    box-sizing: border-box;
    border-radius: 4px;
}

.jfb-preview-svg, .jfb-preview-container {
    width: 100%;
}

.jfb-color-picker-text {
    text-transform: uppercase;
    font-size: 16px;
}

.jfb-form-color-container, .jfb-form-size-container {
    display: flex;
    align-items: center;
}

.jfb-preview-container {
    position: relative;
    line-height: 0;
}

.jfb-preview-main-container {
    display: flex;
    flex-direction: column;
}

.jfb-preview-form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    line-height: 0;
    border: 3px solid #dd3333;
    border-radius: 2px;
    width: 60%;
}

.jfb-preview-form-svg {
    width: 100%;
}

.jfb-preview-badged {
    border-radius: 0 0 4px 4px;
    position: absolute;
    line-height: 32px;
    max-width: 96px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jfb-badged-position-left-left {
    top: 40%;
    left: 0;
    transform-origin: left top;
    transform: rotate(270deg);
    padding: 0 1em;
}

.jfb-badged-position-left-right {
    top: 40%;
    right: 0;
    transform-origin: right top;
    transform: rotate(90deg);
    padding: 0 1em;
}

.jfb-badged-position-left-top {
    top: 0;
    left: 10%;
    padding: 0 1em;
}

.jfb-badged-position-left-bottom {
    border-radius: 4px 4px 0 0;
    bottom: 0;
    left: 10%;
    padding: 0 1em;
    height: 32px;
}

.jfb-badged-position-center-left {
    top: 65%;
    left: 0;
    padding: 0 1em;
    transform-origin: left top;
    transform: rotate(270deg);
}

.jfb-badged-position-center-right {
    top: 65%;
    right: 0;
    padding: 0 1em;
    transform-origin: right top;
    transform: rotate(90deg);
}

.jfb-badged-position-center-top {
    top: 0;
    left: 50%;
    padding: 0 1em;
    transform: translate(-50%, 0);
}

.jfb-badged-position-center-bottom {
    border-radius: 4px 4px 0 0;
    bottom: 0;
    left: 50%;
    padding: 0 1em;
    transform: translate(-50%, 0);
}

.jfb-badged-position-right-left {
    bottom: 5%;
    left: 0;
    padding: 0 1em;
    transform-origin: left top;
    transform: rotate(270deg);
}

.jfb-badged-position-right-right {
    bottom: 5%;
    right: 0;
    padding: 0 1em;
    transform-origin: right top;
    transform: rotate(90deg);
}

.jfb-badged-position-right-top {
    top: 0;
    right: 10%;
    padding: 0 1em;
}

.jfb-badged-position-right-bottom {
    border-radius: 4px 4px 0 0;
    bottom: 0;
    right: 10%;
    padding: 0 1em;
}

.jfb-text-center {
    text-align: center;
}

.jfb-form-color-picker {
    width: 110px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #C8CEED;
    border-radius: 4px;
}

.jfb-sticky-footer {
    width: calc(100% - 160px);
    border-top: 1px solid #E3E5F5;
    height: 84px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jfb-sticky-footer .jfb-footer-item {
    margin: 20px 40px;
}

.jfb-sticky-footer .jfb-form-save-button {
    padding: 10px 16px;
    text-transform: uppercase;
    background-color: #78BB07;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.jfb-sticky-footer .jfb-form-save-button:disabled {
    opacity: 0.5;
}

.jfb-svg-square {
    background-color: #fff;
    position: relative;
    height: 50px;
    width: 100%;
    min-width: 32px;
    max-width: 64px;
    border: 2px solid #A2ABD7;
    border-radius: 4px;
}

.jfb-svg-square-filled {
    background-color: #A2ABD7;
    border: 2px solid #A2ABD7;
}

.jfb-svg-option-selected .jfb-svg-square-filled {
    background-color: #2E69FF;
    border: 2px solid #2E69FF;
}

.jfb-svg-square-header,
.jfb-svg-option-selected .jfb-svg-square-header{
    border-top-width: 8px;
    height: 42px;
}


.jfb-svg-square-badged {
    position: absolute;
    background: #A2ABD7;
    border-radius: 3px;
}

.jfb-ssbp-left {
    transform: translate(0, -50%);
    height: 26px;
    width: 6px;
    left: 5%;
    top: 50%;
}

.jfb-ssbp-right {
    transform: translate(0, -50%);
    height: 26px;
    width: 6px;
    right: 5%;
    top: 50%;
}

.jfb-ssbp-top {
    transform: translate(-50%, 0);
    width: 26px;
    height: 6px;
    left: 50%;
    top: 5%;
}

.jfb-ssbp-bottom {
    transform: translate(-50%, 0);
    width: 26px;
    height: 6px;
    left: 50%;
    bottom: 5%;
}

div[class*="jfb-ssba-left-"]{
    position: absolute;
    transform: translate(0, -50%);
    left: 5%;
    width: 6px;
    height: 18px;
    background-color: #A2ABD7;
    border-radius: 3px;
}

div[class*="jfb-ssba-right-"]{
    position: absolute;
    transform: translate(0, -50%);
    right: 5%;
    width: 6px;
    height: 18px;
    background-color: #A2ABD7;
    border-radius: 3px;
}

.jfb-ssba-right-left,
.jfb-ssba-left-left {
    top: 25%;
}

.jfb-ssba-right-center,
.jfb-ssba-left-center {
    top: 50%;
}

.jfb-ssba-right-right,
.jfb-ssba-left-right {
    top: 75%;
}

div[class*="jfb-ssba-top-"]{
    position: absolute;
    transform: translate(-50%, 0);
    top: 5%;
    width: 18px;
    height: 6px;
    background-color: #A2ABD7;
    border-radius: 3px;
}

div[class*="jfb-ssba-bottom-"]{
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 5%;
    width: 18px;
    height: 6px;
    background-color: #A2ABD7;
    border-radius: 3px;
}

.jfb-ssba-top-left,
.jfb-ssba-bottom-left {
    left: 25%;
}

.jfb-ssba-top-center,
.jfb-ssba-bottom-center {
    left: 50%;
}

.jfb-ssba-top-right,
.jfb-ssba-bottom-right {
    left: 75%;
}

.jfb-preview-form-header {
    width: 100%;
    background-color: red;
    color: #fff;
    height: 12px;
    line-height: 12px;
    font-size: 10px;
}

.jfb-preview-form-selected-border .jfb-preview-form-header,
.jfb-preview-form-selected-simple .jfb-preview-form-header {
    display: none;
}

.jfb-preview-form-selected-simple {
    border: 0.01em solid rgba(0, 0, 0, 0.3);
}

.jfb-preview-toggle-button {
    display: flex;
    position: absolute;
    top: 32px;
    left: 60%;
    z-index: 999;
    background: #0099FF;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    color: #fff;
    border: 0;
    width: 40px;
    justify-content: center;
    align-items: center;
    transition: width 1s ease-in-out;
}

.jfb-preview-toggle-button:hover,
.jfb-preview-toggle-button[data-show="off"] {
    width: 110px;
}

.jfb-ptb-text {
    width: 0;
    overflow: hidden;
    transition: width 1.2s ease-in-out;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

.jfb-preview-toggle-button:hover .jfb-ptb-text,
.jfb-preview-toggle-button[data-show="off"] .jfb-ptb-text {
    width: 90px;
}

.jfb-feedback-popup {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9999;
    background: rgba(10, 21, 81, 0.5)
}

.jfb-feedback-form-container {
    width: 500px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.jfb-feedback-popup-close-button {
    position: relative;
    top: 18px;
    left: calc(100% - 18px);
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .jfb-svg-option {
        flex: 50%;
    }
}

@media screen and (max-width: 782px) {
    /* Begin wordpress css override */
    .auto-fold #wpcontent {
        padding-left: 0;
    }

    p.submit {
        right: 50px;
    }

    /* End wordpress css override */
    .jfb-page-container {
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
        min-height: calc(100vh - 46px);
    }

    .jfb-page-container > .jfb-col {
        padding: 1em;
    }

    .jfb-form-row {
        flex-direction: column;
    }

    .jfb-form-row > .jfb-form-col,
    .jfb-form-row > .jfb-form-col-2,
    .jfb-sticky-footer {
        width: 100%;
        flex: 0;
    }

    .jfb-preview-main-container {
        padding-top: 120px;
    }
}