.widgetOptions.styleLb{
    width:500px;
}
.styleBrowser{
    display:inline-block;
    height: 58px;
    width: 96px;
    background:#666;
    margin:1px 12px 6px;
    border:2px solid transparent;
    
}
.styleBrowser:hover,
.styleBrowser.selectedStyle{
    width: 96px;
    height: 58px;
    border: 2px solid #ffa500;
    
    -moz-box-shadow: 0 0 2px #ffa500;
}
.styleBrowser .styleBox{
    display:inline-block;
    height: 35px;
    width: 60px;
    background:#ddd;
    margin:9px 19px;
    border-top: 5px solid #F59202;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.styleBrowser .styleBox1{
    height: 30px;
    width: 50px;
    border: 5px solid #fff;
    background:#ddd;
}
.styleBrowser .styleBox2{
    height: 30px;
    width: 50px;
    border: 5px solid #000;
    background:#ddd;
}